<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @team.city %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<h2>List of Players</h2>
<table>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Jersey</th>
    <th>Platoon</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>

  <% if @players.count > 0 %>
     <%= render @players %>
  <% end %>


  </tbody>
</table>
<% if @players.count <= 0 %>
    <%= render html: "<em>There are no players yet.</em>".html_safe %>
<% end %>

<p></p>
<%= link_to 'New Player', new_team_player_path(@team) %>